
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/intro-bg.png");
    background-size: 110%; /* Increased zoom level */
    background-position: center;
    background-attachment: fixed;
    z-index: -1; /* Ensure the background stays behind content */
    transition: transform 0.1s ease-out; /* Smooth transition for the parallax effect */
  }


  .whole-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto auto;
    place-items: center;
    margin-top: 3%;
  }

  .grid0-container{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self:center;
    text-align: center;

    color: white;
    font-size: 1.7rem;
    max-width: 80%;
  } 

  .grid0-container p{
    color: rgb(191, 191, 191);
  }

  .grid1-container{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    width: 100%;
  }

  .grid2-container {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: center;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-template-rows: repeat(2, 45%);
    gap: 20px;
  }
  
  .intro-card {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    background-color: rgba(29, 29, 29, 0.544);
    border: 1px solid rgba(255, 255, 255, 0.434);
    border-radius: 25px;
    text-align: center;
    box-shadow: 15px 15px 30px black;
    color: white;
  }
  
  .intro-card h2 {
    color: #ffe374;
    margin:0 1%;
  }
  
  .intro-card p {
    font-size: 1.5rem;
    margin: 3% 2%;
  }

  .card-icon {  
    width: 35px;
    margin: 3% auto;
    display: block;
    filter: saturate(0%);
  }
  
  @media (max-width: 768px) {
    .grid0-container p {
      display: none;
    }
  
    .grid0-container h2 {
      display: flex;
      font-size: 2rem;             
      justify-self: center;
    }

    .grid1-container{
      display: none;
    }
  
    .whole-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;      /* vertically center */
      text-align: center;
      min-height: 100vh;
      padding: 0;
      margin-bottom: 30%;
    }
  
    .intro-card {
      display: block;               /* 👈 useful if you're changing layout */
      font-size: 0.9rem;
      padding: 25px 10px;
      margin-bottom: 30px;
      width: 100%;
      max-width: 300px;
    }
  }

  @media(max-width:482px){
    .grid2-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width:949px){
    .grid1-container{
      display: none;
    }
  }