
.proj-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/proj-bg.png");
    background-size: 110%; /* Increased zoom level */
    background-position: center;
    background-attachment: fixed;
    z-index: -1; /* Ensure the background stays behind content */
    transition: transform 0.1s ease-out; /* Smooth transition for the parallax effect */
    background-repeat: no-repeat;
}

@media(max-width:1100px) {
  .proj-bg{
    background-size: 180%;
  }
}

@media(max-width:670px) {
  .proj-bg{
    background-image: url("/public/assets/proj-bg-phone.png");
  }
  
}
  
  .proj-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.desc{
  color: rgb(244, 244, 244);
    font-size: 2rem;
    text-align: center;
    margin: 0 3%;
    padding: 0%;
}

