.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
            radial-gradient(circle at center, #1c1f24 0%, #0f1215 80%), 
            linear-gradient(135deg, #1a1d22, #131619);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  
  .loader {
    border: 8px solid #25353e;
    border-top: 8px solid #95bee0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-container p {
    color: #b7d4ec;
    font-size: 2rem;
    font-weight: bold;
  }
  